@charset "UTF-8";
.nav-container-desktop, .nav-container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  background: #5e2d0c;
  color: white;
  border-bottom: 0px;
  font-family: "Exo 2";
  box-sizing: border-box; }

.nav-container-desktop {
  height: 50px; }

.nav-main > ul, .nav-leftmost > ul, .nav-rightmost > ul, .nav-mobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/* HAMBURGER HMMMMMMM */
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* height: 1.7em */
  height: 1.5em;
  padding: 0.3em;
  box-sizing: border-box; }

.icon-bar {
  display: block;
  background-color: white;
  width: 1em;
  height: 2px;
  border-radius: 2px; }

/* COMMON */
.nav-container-desktop nav li a, .nav-container-mobile nav li a {
  display: inline-block;
  width: 100%;
  color: inherit; }

.nav-container-desktop nav li a:hover, .nav-container-mobile nav li a:hover {
  background-color: #b85818;
  color: white;
  text-decoration: none; }

/* DESKTOP */
.nav-container-desktop {
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav-container-desktop nav > ul > li {
    box-sizing: border-box;
    height: 50px; }
    .nav-container-desktop nav > ul > li > :first-child {
      line-height: 50px;
      padding-left: 5px;
      padding-right: 5px; }
  .nav-container-desktop nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px; }
  .nav-container-desktop nav li > * {
    box-sizing: border-box;
    padding: 0px 10px 0px 10px; }
  .nav-container-desktop nav .dropdown a:hover {
    background-color: #b85818;
    color: white; }
  .nav-container-desktop nav .dropdown > * {
    padding: 0px; }
  .nav-container-desktop nav .dropdown > :first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    padding: 5px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    box-sizing: border-box; }
    .nav-container-desktop nav .dropdown > :first-child > .caret:after {
      content: "▾"; }
  .nav-container-desktop nav .dropdown > ul {
    background-color: #8b4312;
    color: white;
    min-width: 200px;
    font-size: 20px; }
  .nav-container-desktop nav .dropdown li > * {
    padding-top: 5px;
    padding-bottom: 5px; }
  .nav-container-desktop .nav-main {
    margin: auto; }
  .nav-container-desktop .dropdown {
    position: relative; }
    .nav-container-desktop .dropdown > :first-child > .caret:after {
      font-size: 14.4px;
      margin-left: 10px; }
    .nav-container-desktop .dropdown .dropdown > :first-child > .caret:after {
      content: "▸"; }
    .nav-container-desktop .dropdown > ul {
      position: absolute;
      left: 0px;
      top: 100%;
      z-index: 10000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out; }
    .nav-container-desktop .dropdown .dropdown > ul {
      top: 0px;
      left: 100%; }
  .nav-container-desktop .dropdown:hover {
    background-color: #b85818;
    color: white; }
    .nav-container-desktop .dropdown:hover > ul {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out; }
  .nav-container-desktop .nav-main {
    width: 770px; }

/* MOBILE */
.nav-container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 20px;
  height: 50px; }
  .nav-container-mobile .nav-mobile-menu.dropdown {
    position: relative; }
    .nav-container-mobile .nav-mobile-menu.dropdown > ul {
      position: absolute;
      top: 100%;
      width: 100vw;
      z-index: 10001; }
    .nav-container-mobile .nav-mobile-menu.dropdown > .dropdown-spacer {
      position: absolute;
      top: 100%;
      width: 100vw;
      height: 100vh;
      background: green;
      opacity: 0.5;
      z-index: 10000; }
  .nav-container-mobile .dropdown {
    background: #5e2d0c;
    -webkit-transition: background-color 0.5s cubic-bezier(1, 0, 0.8, 0), color 0.5s cubic-bezier(1, 0, 0.8, 0);
    transition: background-color 0.5s cubic-bezier(1, 0, 0.8, 0), color 0.5s cubic-bezier(1, 0, 0.8, 0); }
    .nav-container-mobile .dropdown > :first-child {
      position: relative; }
      .nav-container-mobile .dropdown > :first-child > .caret:after {
        position: absolute;
        font-size: 14.4px;
        margin-left: 10px;
        right: 10px;
        top: -20px; }
    .nav-container-mobile .dropdown .dropdown > :first-child > .caret:after {
      content: "▾"; }
    .nav-container-mobile .dropdown .dropdown.active > :first-child > .caret:after {
      content: "▴"; }
    .nav-container-mobile .dropdown > .dropdown-spacer {
      visibility: hidden; }
    .nav-container-mobile .dropdown > ul {
      display: block;
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: max-height 0.25s ease-out;
      transition: max-height 0.25s ease-out;
      box-sizing: border-box;
      padding-left: 0px;
      margin: 0px;
      background: #5e2d0c;
      color: white;
      list-style-type: none;
      font-size: 20px; }
      .nav-container-mobile .dropdown > ul > li {
        width: 100%;
        border-left: 10px solid #b85818; }
        .nav-container-mobile .dropdown > ul > li > :first-child {
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px; }
        .nav-container-mobile .dropdown > ul > li > a {
          padding: 10px 0px; }
        .nav-container-mobile .dropdown > ul > li > ul {
          border-left: 10px solid #b85818; }
    .nav-container-mobile .dropdown .dropdown > ul {
      top: 100%; }
  .nav-container-mobile .dropdown.active {
    background-color: #b85818;
    -webkit-transition: background-color 0.5s cubic-bezier(0, 1, 0.2, 1), color 0.5s cubic-bezier(0, 1, 0.2, 1);
    transition: background-color 0.5s cubic-bezier(0, 1, 0.2, 1), color 0.5s cubic-bezier(0, 1, 0.2, 1);
    color: white; }
    .nav-container-mobile .dropdown.active .icon-bar {
      background-color: white; }
    .nav-container-mobile .dropdown.active > ul {
      display: block;
      max-height: 2500px;
      /* overflow-y: auto */
      -webkit-transition: max-height 0.25s ease-in;
      transition: max-height 0.25s ease-in; }
    .nav-container-mobile .dropdown.active > .dropdown-spacer {
      visibility: visible; }
  .nav-container-mobile .nav-mobile {
    width: 100%; }

@media screen and (max-width: 800px) {
  .nav-container-desktop {
    display: none; } }

@media screen and (min-width: 800px) {
  .nav-container-mobile {
    display: none; } }
